{% extends "base.html" %}
{% block title %} products {% endblock %}

{% block content %}
  <div>
      <div>
        <p>thi is the products page</p>
    </div>

    <div>
        <form method="post" action="/add_product">
            
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">product name</label>
            <input type="text" name="p_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Buying price</label>
            <input type="number" name="b_price" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Selling price</label>
            <input type="number" name="s_price" class="form-control" id="exampleInputPassword1">
        </div>
 
        <button type="submit" class="btn btn-primary">Add products</button>

        </form>
    
    <div>
        
        <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>product id</th>
                <th>product name</th>
                <th>buying price</th>
                <th>selling price</th>
               
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{product[1] }}</td>
                <td>{{product[2] }}</td>
                <td>{{product[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
     
        
    </div>

  </div>
{% endblock %}